@import 'tailwindcss';

:root {
  --background: #141414;
  --foreground: #ffffff;
  --active: #c4f82a;
  --background-light: #333333;
  --background-mid: #1f1f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
  display: flex;
  height: 100svh;
  justify-content: center;
  align-items: center;
}
